
# Testing
pytest==3.0.6
WebTest==2.0.25
factory-boy==2.8.1

flask-restful

# Flask
Flask==0.12
flask_wtf
flask_mongoengine
Werkzeug==0.15.5
click>=5.0


# Deployment
gunicorn>=19.1.1

pyyaml

slackclient
